/* BASIC STYLES HERE */
body {
  background-image: url('../img/image7.jpg');
}

p {
  margin: 0;
}


@media ((max-width:768px))  {
  .reverse {
    flex-direction: column-reverse;
    align-items: center;
  }
}
